financeflow_n8n_workflow.json
{
  "name": "FinanceFlow Daily Underwriting Triage",
  "nodes": [
    {
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        220,
        320
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cron",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        320
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FINANCEFLOW_RAW_CSV_URL }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "string"
            }
          }
        }
      }
    },
    {
      "id": "3",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        320
      ],
      "parameters": {
        "language": "javascript",
        "jsCode": "function parseCsv(text) {\n  const lines = text.trim().split(/\\r?\\n/);\n  const headers = lines[0].split(',');\n  return lines.slice(1).filter(Boolean).map((line) => {\n    const values = [];\n    let current = '';\n    let inQuotes = false;\n    for (let i = 0; i < line.length; i++) {\n      const char = line[i];\n      if (char === '\"') {\n        if (inQuotes && line[i + 1] === '\"') {\n          current += '\"';\n          i++;\n        } else {\n          inQuotes = !inQuotes;\n        }\n      } else if (char === ',' && !inQuotes) {\n        values.push(current);\n        current = '';\n      } else {\n        current += char;\n      }\n    }\n    values.push(current);\n    return Object.fromEntries(headers.map((header, index) => [header, values[index] ?? '']));\n  });\n}\n\nfunction toNumber(value) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed : null;\n}\n\nfunction sigmoid(value) {\n  return 1 / (1 + Math.exp(-value));\n}\n\nfunction decisionLabel(probability, thresholds) {\n  if (probability >= thresholds.decline) return 'Decline';\n  if (probability >= thresholds.review) return 'Review';\n  return 'Approve';\n}\n\nfunction formatUsd(value) {\n  return new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', maximumFractionDigits: 0 }).format(value);\n}\n\nfunction contributionReason(detail) {\n  if (detail.field === 'credit_score') {\n    if (detail.rawValue < 600) return `Low credit score (${Math.round(detail.rawValue)}) materially increases default risk.`;\n    return `Credit score (${Math.round(detail.rawValue)}) is below the stronger-performing borrower range.`;\n  }\n  if (detail.field === 'debt_to_income_ratio') {\n    return `Debt-to-income ratio (${detail.rawValue.toFixed(2)}) is high relative to the training portfolio.`;\n  }\n  if (detail.field === 'interest_rate_pct') {\n    return `Interest rate (${detail.rawValue.toFixed(2)}%) is elevated versus lower-risk borrowers.`;\n  }\n  if (detail.field === 'loan_amount_usd') {\n    return `Requested loan amount (${formatUsd(detail.rawValue)}) is large for this portfolio.`;\n  }\n  if (detail.field === 'annual_revenue_usd') {\n    return `Annual revenue (${formatUsd(detail.rawValue)}) is low relative to requested credit.`;\n  }\n  if (detail.field === 'business_age_years') {\n    return `Business operating history (${Math.round(detail.rawValue)} years) is limited.`;\n  }\n  if (detail.field === 'loan_term_months') {\n    return `Loan term (${Math.round(detail.rawValue)} months) is longer than the lower-risk cohort.`;\n  }\n  if (detail.field === 'sector') {\n    return `Sector exposure (${detail.rawValue}) has historically produced higher defaults in this sample.`;\n  }\n  if (detail.field === 'loan_purpose') {\n    return `Loan purpose (${detail.rawValue}) has performed worse than the portfolio average.`;\n  }\n  if (detail.field === 'state') {\n    return `State cohort (${detail.rawValue}) has a weaker repayment pattern in the training data.`;\n  }\n  return `${detail.field} contributes positively to risk.`;\n}\n\nfunction makeBrief(row, probability, decision, reasons) {\n  const first = reasons[0] || 'The model found a weaker-than-average repayment profile.';\n  const second = reasons[1] || 'No secondary driver rose materially above the rest.';\n  const action = decision === 'Decline'\n    ? 'Escalate for senior underwriter review and verify bank statements before issuing a final decline.'\n    : 'Route to analyst review with refreshed cash-flow documents and recent bank statements.';\n  return `RISK SUMMARY: ${decision} at ${(probability * 100).toFixed(1)}% default probability. ${first}\\n\\nKEY SIGNALS:\\n- ${first}\\n- ${second}\\n\\nANALYST ACTION: ${action}`;\n}\n\nconst rawText = $input.first().json.body ?? $input.first().json.data ?? '';\nconst rows = parseCsv(rawText);\nconst model = {\"model_type\":\"logistic_regression\",\"version\":\"1.0\",\"stats\":{\"business_age_years\":{\"mean\":12.68939393939394,\"std\":7.474839185214071},\"num_employees\":{\"mean\":247.4659090909091,\"std\":140.0684585487902},\"annual_revenue_usd\":{\"mean\":2501276.366287879,\"std\":1392044.9076771308},\"loan_amount_usd\":{\"mean\":261740.8724242424,\"std\":144172.55263389667},\"loan_term_months\":{\"mean\":35.5,\"std\":16.55637751332206},\"interest_rate_pct\":{\"mean\":11.364469696969696,\"std\":3.815249567752186},\"credit_score\":{\"mean\":665.4659090909091,\"std\":79.5670979754456},\"debt_to_income_ratio\":{\"mean\":0.37102651515151513,\"std\":0.15475531535388395}},\"categories\":{\"sector\":[\"Agriculture\",\"Construction\",\"Healthcare\",\"Hospitality\",\"Manufacturing\",\"Retail\",\"Technology\"],\"loan_purpose\":[\"Equipment\",\"Expansion\",\"Real Estate\",\"Refinancing\",\"Working Capital\"],\"state\":[\"CA\",\"FL\",\"GA\",\"IL\",\"NC\",\"NY\",\"OH\",\"PA\",\"TX\",\"WA\"]},\"weights\":[-0.23432266741872232,-0.6718019387596006,0.17968832234243864,-0.09714509658736854,0.29554979964664746,-0.2797826696502283,-0.20764564722016304,-0.6138036846320026,0.3919204171854477,-0.06216825295649628,-0.3809060899330043,-0.09118827166668304,0.3105262520071236,-0.5152966367755929,0.4012393878181248,0.12659615298810972,-0.05105615749703711,0.242821566783687,0.39086606769899934,0.016377700919878203,-0.8102066364239439,-0.09972167252444301,-0.2826993078051165,0.052175606790036855,-0.07054135356797006,-1.3356780071876766,0.5060361602709562,0.29419552897453627,0.27386734834641013,0.37068670486132926,0.08048153332352039],\"feature_names\":[\"bias\",\"num::business_age_years\",\"num::num_employees\",\"num::annual_revenue_usd\",\"num::loan_amount_usd\",\"num::loan_term_months\",\"num::interest_rate_pct\",\"num::credit_score\",\"num::debt_to_income_ratio\",\"cat::sector::Agriculture\",\"cat::sector::Construction\",\"cat::sector::Healthcare\",\"cat::sector::Hospitality\",\"cat::sector::Manufacturing\",\"cat::sector::Retail\",\"cat::sector::Technology\",\"cat::loan_purpose::Equipment\",\"cat::loan_purpose::Expansion\",\"cat::loan_purpose::Real Estate\",\"cat::loan_purpose::Refinancing\",\"cat::loan_purpose::Working Capital\",\"cat::state::CA\",\"cat::state::FL\",\"cat::state::GA\",\"cat::state::IL\",\"cat::state::NC\",\"cat::state::NY\",\"cat::state::OH\",\"cat::state::PA\",\"cat::state::TX\",\"cat::state::WA\"],\"thresholds\":{\"review\":0.4,\"decline\":0.65},\"training_row_count\":330,\"default_rate\":0.2788,\"metrics\":{\"threshold\":0.5,\"accuracy\":0.6212,\"precision\":0.3793,\"recall\":0.6111,\"f1\":0.4681,\"confusion_matrix\":{\"tp\":11,\"tn\":30,\"fp\":18,\"fn\":7}},\"feature_importance\":[{\"feature\":\"cat::state::NC\",\"weight\":-1.335678,\"absolute_weight\":1.3356780071876766},{\"feature\":\"cat::loan_purpose::Working Capital\",\"weight\":-0.810207,\"absolute_weight\":0.8102066364239439},{\"feature\":\"num::business_age_years\",\"weight\":-0.671802,\"absolute_weight\":0.6718019387596006},{\"feature\":\"num::credit_score\",\"weight\":-0.613804,\"absolute_weight\":0.6138036846320026},{\"feature\":\"cat::sector::Manufacturing\",\"weight\":-0.515297,\"absolute_weight\":0.5152966367755929},{\"feature\":\"cat::state::NY\",\"weight\":0.506036,\"absolute_weight\":0.5060361602709562},{\"feature\":\"cat::sector::Retail\",\"weight\":0.401239,\"absolute_weight\":0.4012393878181248},{\"feature\":\"num::debt_to_income_ratio\",\"weight\":0.39192,\"absolute_weight\":0.3919204171854477},{\"feature\":\"cat::loan_purpose::Real Estate\",\"weight\":0.390866,\"absolute_weight\":0.39086606769899934},{\"feature\":\"cat::sector::Construction\",\"weight\":-0.380906,\"absolute_weight\":0.3809060899330043},{\"feature\":\"cat::state::TX\",\"weight\":0.370687,\"absolute_weight\":0.37068670486132926},{\"feature\":\"cat::sector::Hospitality\",\"weight\":0.310526,\"absolute_weight\":0.3105262520071236},{\"feature\":\"num::loan_amount_usd\",\"weight\":0.29555,\"absolute_weight\":0.29554979964664746},{\"feature\":\"cat::state::OH\",\"weight\":0.294196,\"absolute_weight\":0.29419552897453627},{\"feature\":\"cat::state::FL\",\"weight\":-0.282699,\"absolute_weight\":0.2826993078051165}]};\nconst stats = model.stats;\nconst categories = model.categories;\nconst weights = model.weights;\nconst featureNames = model.feature_names;\nconst thresholds = model.thresholds;\nconst nameToWeight = Object.fromEntries(featureNames.map((name, index) => [name, weights[index]]));\n\nlet nullCreditScore = 0;\nlet nullDefaultFlag = 0;\nlet negativeRevenue = 0;\n\nfor (const row of rows) {\n  if (row.credit_score === '') nullCreditScore++;\n  if (row.default_flag === '') nullDefaultFlag++;\n  if (toNumber(row.annual_revenue_usd) < 0) negativeRevenue++;\n}\n\nconst blocked = nullCreditScore > 0 || nullDefaultFlag > 0 || negativeRevenue > 0;\nif (blocked) {\n  return [{\n    json: {\n      status: 'BLOCKED',\n      total_rows: rows.length,\n      null_credit_score_count: nullCreditScore,\n      null_default_flag_count: nullDefaultFlag,\n      negative_revenue_count: negativeRevenue,\n      alert_prompt: `Write a 2-sentence plain English alert about the FinanceFlow data quality failure. Missing credit score rows: ${nullCreditScore}. Missing default flag rows: ${nullDefaultFlag}. Negative revenue rows: ${negativeRevenue}. Explain what failed and what the data team should do next.`\n    }\n  }];\n}\n\nconst decisionRows = [];\nlet approveCount = 0;\nlet reviewCount = 0;\nlet declineCount = 0;\nlet totalAtRisk = 0;\n\nfor (const row of rows) {\n  const vector = [1.0];\n  const details = [];\n\n  for (const field of ['business_age_years', 'num_employees', 'annual_revenue_usd', 'loan_amount_usd', 'loan_term_months', 'interest_rate_pct', 'credit_score', 'debt_to_income_ratio']) {\n    const rawValue = toNumber(row[field]);\n    const scaledValue = (rawValue - stats[field].mean) / stats[field].std;\n    vector.push(scaledValue);\n    details.push({ feature: `num::${field}`, field, rawValue, encodedValue: scaledValue, kind: 'numeric' });\n  }\n\n  for (const field of ['sector', 'loan_purpose', 'state']) {\n    for (const category of categories[field]) {\n      const encodedValue = row[field] === category ? 1 : 0;\n      vector.push(encodedValue);\n      if (encodedValue === 1) {\n        details.push({ feature: `cat::${field}::${category}`, field, rawValue: category, encodedValue, kind: 'categorical' });\n      }\n    }\n  }\n\n  const score = vector.reduce((sum, value, index) => sum + (weights[index] * value), 0);\n  const probability = sigmoid(score);\n  const decision = decisionLabel(probability, thresholds);\n\n  if (decision === 'Approve') approveCount++;\n  if (decision === 'Review') {\n    reviewCount++;\n    totalAtRisk += toNumber(row.loan_amount_usd);\n  }\n  if (decision === 'Decline') {\n    declineCount++;\n    totalAtRisk += toNumber(row.loan_amount_usd);\n  }\n\n  if (decision !== 'Approve') {\n    const positiveDrivers = details\n      .map((detail) => {\n        const contribution = (nameToWeight[detail.feature] || 0) * detail.encodedValue;\n        return { detail, contribution };\n      })\n      .filter((item) => item.contribution > 0)\n      .sort((a, b) => b.contribution - a.contribution)\n      .slice(0, 2)\n      .map((item) => contributionReason(item.detail));\n\n    decisionRows.push({\n      json: {\n        record_type: 'decision',\n        route_to_email: decision === 'Decline',\n        status: 'OK',\n        loan_id: row.loan_id,\n        sector: row.sector,\n        state: row.state,\n        loan_amount_usd: row.loan_amount_usd,\n        credit_score: row.credit_score,\n        debt_to_income_ratio: row.debt_to_income_ratio,\n        default_probability: Number(probability.toFixed(4)),\n        decision,\n        underwriter_brief: makeBrief(row, probability, decision, positiveDrivers),\n        analyst_email: $env.FINANCEFLOW_ANALYST_EMAIL,\n        approve_count: 0,\n        review_count: 0,\n        decline_count: 0,\n        total_at_risk_usd: 0\n      }\n    });\n  }\n}\n\nconst summaryItem = {\n  json: {\n    record_type: 'summary',\n    route_to_email: false,\n    status: 'OK',\n    approve_count: approveCount,\n    review_count: reviewCount,\n    decline_count: declineCount,\n    total_at_risk_usd: Number(totalAtRisk.toFixed(2))\n  }\n};\n\nreturn [...decisionRows, summaryItem];"
      }
    },
    {
      "id": "4",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        930,
        320
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equal",
              "value2": "OK"
            }
          ]
        }
      }
    },
    {
      "id": "5a-filter",
      "name": "Decision Rows Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1160,
        180
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.record_type }}",
              "operation": "equal",
              "value2": "decision"
            }
          ]
        }
      }
    },
    {
      "id": "5a",
      "name": "Google Sheets - Append Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1390,
        180
      ],
      "parameters": {
        "operation": "append",
        "sheetId": "={{ $env.GOOGLE_SHEET_ID }}",
        "range": "Decisions!A:H",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "loan_id": "={{ $json.loan_id }}",
            "sector": "={{ $json.sector }}",
            "loan_amount_usd": "={{ $json.loan_amount_usd }}",
            "credit_score": "={{ $json.credit_score }}",
            "debt_to_income_ratio": "={{ $json.debt_to_income_ratio }}",
            "default_probability": "={{ $json.default_probability }}",
            "decision": "={{ $json.decision }}",
            "underwriter_brief": "={{ $json.underwriter_brief }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "5b-filter",
      "name": "Summary Row Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1160,
        420
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.record_type }}",
              "operation": "equal",
              "value2": "summary"
            }
          ]
        }
      }
    },
    {
      "id": "5b",
      "name": "Slack - #credit-team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        1390,
        420
      ],
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "channel": "#credit-team",
        "text": "=```FinanceFlow Daily Decisioning Digest\\n\\nApprove: {{ $json.approve_count }}\\nReview: {{ $json.review_count }}\\nDecline: {{ $json.decline_count }}\\n\\nTotal loan value at risk (Decline + Review combined USD): ${{ $json.total_at_risk_usd }}\\n```",
        "otherOptions": {}
      }
    },
    {
      "id": "5c",
      "name": "Claude - Data Ops Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        620
      ],
      "parameters": {
        "language": "javascript",
        "jsCode": "const missingCredit = $json.null_credit_score_count ?? 0;\nconst missingDefault = $json.null_default_flag_count ?? 0;\nconst negativeRevenue = $json.negative_revenue_count ?? 0;\n\nconst text = `FinanceFlow blocked today's underwriting run because ${missingCredit} applications are missing credit scores, ${missingDefault} rows are missing default flags, and ${negativeRevenue} rows show negative annual revenue. Please correct the overnight export in the source systems and rerun the workflow after the data team confirms the file is clean.`;\n\nreturn [{\n  json: {\n    ...$json,\n    text\n  }\n}];"
      }
    },
    {
      "id": "5c-slack",
      "name": "Slack - #data-ops",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        1390,
        620
      ],
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "channel": "#data-ops",
        "text": "={{ $json.text || $json.response || $json.output || 'FinanceFlow data quality failure detected. Please inspect the upstream export.' }}",
        "otherOptions": {}
      }
    },
    {
      "id": "6-filter",
      "name": "Decline Rows Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1160,
        780
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.route_to_email }}",
              "operation": "true"
            }
          ]
        }
      }
    },
    {
      "id": "6",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1390,
        780
      ],
      "parameters": {
        "operation": "send",
        "to": "={{ $json.analyst_email }}",
        "subject": "={{ 'Decline Brief - Loan ' + $json.loan_id }}",
        "emailType": "text",
        "message": "={{ $json.underwriter_brief }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Decision Rows Only",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summary Row Only",
            "type": "main",
            "index": 0
          },
          {
            "node": "Decline Rows Only",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claude - Data Ops Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Rows Only": {
      "main": [
        [
          {
            "node": "Google Sheets - Append Row",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Summary Row Only": {
      "main": [
        [
          {
            "node": "Slack - #credit-team",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Claude - Data Ops Alert": {
      "main": [
        [
          {
            "node": "Slack - #data-ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decline Rows Only": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}
